[submodule "doc/GPS/Adafruit_GPS"]
	path = doc/GPS/Adafruit_GPS
	url = https://github.com/adafruit/Adafruit_GPS.git
[submodule "src/sensor/BME280_driver"]
	path = src/sensor/BME280_driver
	url = https://github.com/BoschSensortec/BME280_driver.git
